@model IPagedList<RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#restaurantList" >
    <div style="padding-top: 65px;">
        <input type="search" name="searchterm" data-otf-autocomplete="@Url.Action("Autocomplete")"/>
        <input type="submit" value="search by name" />
    </div>
</form>


@Html.Partial("_Restaurants", Model)